 <style>
        body {
            color:blueviolet ; 
            background-color: springgreen; 
            font-family: 'Arial', sans-serif; 
        }

        h1 {
            font-family: 'Georgia', serif; 
        }

        ul.navbar {
            position: relative;
            top: 20em;
            left: 20em;
            width: 100em;
        }

        @media all {
            /* Styles for all media types */
            body {
                font-size: 16px; /* Adjust font size for all media */
            }
        }

        @media print {
            /* Styles for print media */
            body {
                color: orangered; 
                background-color: springgreen; 
            }
        }
    </style>